<link rel="stylesheet" href="/bower_components/chartist/dist/chartist.min.css">

<h1>Integrations Transfer Stats</h1>
<hr><hr>


<h3 align="center">Uso API SOS 1 - G06-uefa-country-rankings</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Temporada</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS1 in SOS1s">
                <td>{{SOS1.country}}</td>
                <td>{{SOS1.season}}</td>
                <td>{{SOS1.points}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 2 - G10-issue-dioxid</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Contaminación por combustibles líquidos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS2 in SOS2s">
                <td>{{SOS2.country}}</td>
                <td>{{SOS2.year}}</td>
                <td>{{SOS2.issue_liquid_fuel}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 3 - CON PROXY - G04-happiness-stats</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Grado de felicidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS3 in SOS3s">
                <td>{{SOS3.country}}</td>
                <td>{{SOS3.year}}</td>
                <td>{{SOS3.happinessScore}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 4 - CON PROXY - G15-competitions-stats</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID del evento</th>
                <th>Año</th>
                <th>Centro escolar en el que se celebra el evento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS4 in SOS4s">
                <td>{{SOS4.id}}</td>
                <td>{{SOS4.year}}</td>
                <td>{{SOS4.day}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 5 - G09-climate-stats</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Niveles de CO2</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS5 in SOS5s">
                <td>{{SOS5.country}}</td>
                <td>{{SOS5.year}}</td>
                <td>{{SOS5.co2_stats}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 6 - G03-computers-attacks-stats</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Ataque</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS6 in SOS6s">
                <td>{{SOS6.country}}</td>
                <td>{{SOS6.year}}</td>
                <td>{{SOS6.attacktype}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 7 - G11-general-public-expenses</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Gasto Público</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS7 in SOS7s">
                <td>{{SOS7.country}}</td>
                <td>{{SOS7.year}}</td>
                <td>{{SOS7.publicSpending}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>

<h3 align="center">Uso API SOS 8 -CON PROXY- G12-pollution-stats</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Nivel de Contaminación de CO2</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS8 in SOS8s">
                <td>{{SOS8.country}}</td>
                <td>{{SOS8.year}}</td>
                <td>{{SOS8.pollution_tco2}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr>



<h3 align="center">Integración con API Externa 1 - Meals</h3>

<div id="APIExterna"></div>

<hr><hr>
<h3 align="center">Integración con API Externa 2 - TVSeries</h3>

<div id="APIExterna2"></div>

<hr><hr>
<h3 align="center">Integración con API Externa 3 - Soccer Competitions</h3>

<div id="chartExt"></div>
<hr><hr>
<h3 align="center">Integración con API Externa 4 - INE</h3>

<div id="APIExterna4"></div>

<hr><hr>
<h3 align="center">Integración con API Externa 5 - Weather</h3>

<div id="APIExterna5"></div>

<hr><hr>
<h3 align="center">Integración con API Externa 6 - Libraries</h3>

<div id="APIExterna6"></div>