<div>
        <h1>Transfer Stats</h1>
</div>
    
    <div>
        <label for="">Busqueda por equipo</label>
        <input type="text" name="" ng-model="inputEquipo" />
        <button class="btn btn-primary" ng-click="buscarEquipo()">Buscar</button>
        <button class="btn btn-primary" ng-click="showData()">Mostrar todos los registros</button>
    </div>
    

    <div class="container">
        <form ng-show="formVisibility">
          <div class="form-row">
              
    <div class="col-md-4 mb-3">
      <label for="country">País</label>
      <input type="text" class="form-control" ng-model="country" id="country" placeholder="País" >
    </div>
    <div class="col-md-4 mb-3">
      <label for="team">Equipo</label>
      <input type="text" class="form-control" ng-model="team" id="team" placeholder="Equipo" >
    </div>
    </div>
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="numberofsignings">Jugadores Fichados</label>
      <input class="form-control" min=0 type="number" ng-model="numberofsignings" id="numberofsignings" placeholder="Jugadores Fichados">
    </div>
    <div class="col-md-2 mb-3">
      <label for="numberoffarewells">Jugadores Vendidos</label>
      <input type="number" min=0 class="form-control" ng-model="numberoffarewells" id="numberoffarewells" placeholder="Jugadores vendidos">
    </div>
    <div class="col-md-2 mb-3">
      <label for="moneyspent">Dinero Gastado</label>
      <input type="number" min=0 class="form-control" ng-model="moneyspent" id="moneyspent" placeholder="Dinero Gastado">
    </div>
    <div class="col-md-2 mb-3">
      <label for="moneyentered">Dinero Ingresado</label>
      <input type="number" min=0 class="form-control" ng-model="moneyentered" id="moneyentered" placeholder="Dinero Ingresado">
    </div>
  </div>
  <button class="btn btn-primary" ng-click"findCountry()">Buscar</button>
        </form>
        
    </div>
    
   <div class="alert alert-dismissible alert-primary" ng-repeat="alert in alerts">{{alert.msg}}</div>
   
    <div>
        <table class="table table-striped">
        <pagination total-items="100" max-size="5" boundary-links="true"></pagination>
            <thead class="thead-dark">
                <tr>
                    <th>País</th>
                    <th>Temporada</th>
                    <th>Equipo</th>
                    <th>Dinero Gastado</th>
                    <th>Dinero ingresado</th>
                    <th>Número de jugadores fichados</th>
                    <th>Numero de jugadores vendidos</th>
                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transferstat in transferstats">
                    <td>{{transferstat.country}}</td>
                    <td>{{transferstat.season}}</td>
                    <td><a href="#!/transfer-stats/edit/{{transferstat.country}}/{{transferstat.team}}/{{transferstat.season}}">{{transferstat.team}}</a></td>
                    <td>{{transferstat.moneyspent}}</td>
                    <td>{{transferstat.moneyentered}}</td>
                    <td>{{transferstat.numberofsignings}}</td>
                    <td>{{transferstat.numberoffarewells}}</td>

                    <td>
                        <button class="btn btn-danger" ng-click="deleteTransferStat(transferstat.country,transferstat.team,transferstat.season)">Borrar</button>
                    </td>

                </tr>
                <tr>

                    <td>
                        <input class="form-control" ng-model="newTransferStat.country" value="new country" placeholder="País" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newTransferStat.team" value="new team" placeholder="Equipo" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newTransferStat.season" type="number" min="1" placeholder="Temporada" value="new season" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newTransferStat.moneyspent" value="0" placeholder="Dinero Gastado" type="number" min="1" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newTransferStat.moneyentered" value="0" type="number" placeholder="Dinero Ingresado" min="1" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newTransferStat.numberofsignings" value="0" type="number" placeholder="Jugadores Fichados" min="1" />
                    </td>
                    <td>
                        <input class="form-control" ng-model="newTransferStat.numberoffarewells" value="0" type="number" placeholder="Jugadores Vendidos" min="1" />
                    </td>
                    <td><button id = "add" class="btn btn-primary" ng-click="addTransferStat()">Añadir</button></td>
                </tr>
                <tr>
                    <td>
                        <button id = "remove" class="btn btn-danger" ng-click="deleteAll()">Borrar Todo</button>
                        <button class="btn btn-primary" ng-click="loadInitialData()">Carga de datos iniciales</button>
                    </td>
                </tr>
            </tbody>


        </table>
        
        <div>
        <button class="button btn-secondary" ng-click="back()">Anterior</button>
        <button class="button btn-secondary" ng-click="next()">Siguiente</button>
        </div>
    </div>