<!DOCTYPE html>
<html ng-app="MiniPostmanApp">

<head>
    <title>
        Transfer Stats
    </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="minipostmantransferstats-app.js"></script>

    <script src="transfer-ctrl.js"></script>
</head>

<body ng-controller="MainCtrl">

    <div class="container-fluid">
        <div class=r ow>
            <div class="col-sm" align="center">
                <h3>TRANSFER STATS</h3>
                <label>URL : <input class="form-control text-center"ng-model="url"/></label>

                <button class="btn btn-outline-dark btn-lg" ng-click="send()">GET</button>
                <button class="btn btn-outline-dark btn-lg" ng-click="post()">POST</button>
                <button class="btn btn-outline-dark btn-lg" ng-click="put()">PUT</button>
                <button class="btn btn-danger btn-lg" ng-click="delete()">DELETE</button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>RESPONSE</h4>
                    <textarea class="form-control" rows="20" readonly ng-model="data"></textarea>
                </div>
                <div class="col">
                    <h4>BODY</h4>
                    <textarea class="form-control" rows="20" ng-model="body"></textarea>
                </div>
                
            </div>
        </div>
        <div class="row" align="center">
            <pre>CÓDIGO HTTP: {{status}}</pre>
        </div>
    </div>
</body>

</html>