<h1>Integrations Uefa-Country-Rankings</h1>
<hr><hr>

<h3>Integration API SOS 1 - Companies & Uefa Country</h3>
<div id="companies"></div>
<hr> 

<h3>Uso API SOS 2 - Suicide Rates</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Número de hombres suicidados</th>
                <th>Número de mujeres suicidadas</th>
                <th>Ranking</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS2 in SOS2s">
                <td>{{SOS2.country}}</td>
                <td>{{SOS2.year}}</td>
                <td>{{SOS2.noSuicidesMan}}</td>
                <td>{{SOS2.noSuicidesWoman}}</td>
                <td>{{SOS2.rank}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr> 


<h3>Uso API SOS 3 - Expenses-of-countries-in-education-and-culture</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Gasto por país</th>
                <th>Porcentaje de presupuesto</th>
                <th>Gasto per capita</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS3 in SOS3s">
                <td>{{SOS3.country}}</td>
                <td>{{SOS3.year}}</td>
                <td>{{SOS3.countryExpense}}</td>
                <td>{{SOS3.budgetPercentage}}</td>
                <td>{{SOS3.expensePerCapita}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr> 


<h3>Integration API SOS 4 - Scorers-stats & Uefa Country Points</h3>
<div id="scorers"></div>
<hr> 

<h3>Uso API SOS 5 - Elements</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Provincia</th>
                <th>Año</th>
                <th>Víctimas</th>
                <th>Heridos no hospitalizados en accidentes</th>
                <th>Accidentes con victimas</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS5 in SOS5s">
                <td>{{SOS5.province}}</td>
                <td>{{SOS5.year}}</td>
                <td>{{SOS5.victims}}</td>
                <td>{{SOS5.injurednothospitalizedinaccidents}}</td>
                <td>{{SOS5.accidentswithvictims}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr> 


<h3>Integration API SOS 6 - Uefa Club & Uefa Country</h3>
<div id="clubRanking"></div>

<h3>Uso API SOS 7 - e-car-statics</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Partición mercado (%)</th>
                <th>Posición global</th>
                <th>Vehículos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS7 in SOS7s">
                <td>{{SOS7.country}}</td>
                <td>{{SOS7.year}}</td>
                <td>{{SOS7.marketPart}}</td>
                <td>{{SOS7.rankingPosition}}</td>
                <td>{{SOS7.existsVehicles}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr> 


<h3>Uso API SOS 8 - Population stats</h3>
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>País</th>
                <th>Año</th>
                <th>Población total</th>
                <th>Población urbana</th>
                <th>Acceso a la electricidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="SOS8 in SOS8s">
                <td>{{SOS8.country}}</td>
                <td>{{SOS8.year}}</td>
                <td>{{SOS8.totalpopulation}}</td>
                <td>{{SOS8.urbanpopulation}}</td>
                <td>{{SOS8.accesstoelectricity}}</td>
            </tr>
         </tbody>
    </table>
</div>
<hr> 



<h3>Integration Api Externa 1</h3>
<div id="externa1" style="height: 300px; width: 100%;"></div>
<hr>
<h3>Integration Api Externa 2</h3>
<div id="externa2" style="height: 300px; width: 100%;"></div>
<hr> 
