<!DOCTYPE html>
<html ng-app="MiniPostmanApp">
    <head>
        <title>Uefa Club Rankings</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/minipostmanuefaclub-app.js"></script>
        <script src="/uefaclub-ctrl.js"></script>
        
    
    </head>
    <body ng-controller="MainCtrl">
        <h1>Uefa Club Rankings</h1>
        <div>
            <label>URL: <input class="form-control text-center"ng-model="url"/></label>
            <button class="btn btn-primary" ng-click= "get()">GET</button>
            <button class="btn btn-primary" ng-click= "load()">LoadInitionalData</button>
            <button class="btn btn-danger" ng-click= "delete()">Delete</button>
            
        </div>
        <div>
            <textarea class="form-control" rows="20" ng-model="data"></textarea>
        </div>
        <div>
            <label>country: <input class="form-control text-center" ng-model= "country"/></label>
            <label>season: <input class="form-control text-center" ng-model= "season"/></label>
            <label>points: <input class="form-control text-center" ng-model= "points"/></label>
            <label>ptsseason: <input class="form-control text-center" ng-model= "ptsseason"/></label>
            <label>ptsbeforeseason: <input class="form-control text-center" ng-model= "ptsbeforeseason"/></label>
            <label>team: <input class="form-control text-center" ng-model= "team"/></label>
            <button class="btn btn-primary" ng-click= "post()">POST</button>
            <button class="btn btn-primary" ng-click= "put()">PUT</button>
        </div>
        <div class="row" align="center">
            <pre>CÓDIGO HTTP: {{status}}</pre>
        </div>
    </body>
</html>